<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :order_details do |order_detail| %>
    <%= render 'order_detail_field', f: order_detail %>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
